# Q1

In [3]:
mylist=[14, "hello", 967]
mylist[2]
#l'indice 6 n'existe pas le max est 2
#IndexError: list index out of range

967

# Q2

In [11]:
import pandas 
import numpy 
#ImportError: No module named Pandas

# Q3

In [12]:
print("python errors")
#SyntaxError: invalid syntax

python errors

# Q4

In [13]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]
#KeyError: 'True'

'hello'

# Q5

In [14]:
i=14
while i<78:
    print(i)
    i+=1
#IndentationError: expected an indented block

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# Q6

In [15]:
it=iter([1,2,3])
next(it)
next(it)
next(it)
#StopIteration:

3

# Q7

In [16]:
'15'+'15'
TypeError: cannot concatenate 'str' and 'int' objects

'1515'

# Q8

In [ ]:
int('python')
#'python' ne peut pas etre reconverti en nombre entier 
#ValueError: invalid literal for int() with base 10: 'python'

# Q9

In [ ]:
python=1
#la variable 'python' n'est pas initialise
#NameError: name 'python' is not defined

# Q10

In [ ]:
x=19/0
#on ne peut pas divise un nombre par 0
#ZeroDivisionError: integer division or modulo by zero